extends layout/main
include mixins/index

block content
  section.section.grid
    header.header.header--shorter-bottom.grid--centered.grid--columns
      h2= date_added
      p.copy.copy--faint.copy--small click the name of an island to view its brochure
    each brochure in brochures
      article.article
        +article(brochure)

  section.section
    header.header.header--shorter-bottom
      h4.copy.copy--faint get the brochure sent to your email weekly
    form.form(
      method='POST'
      action='/newsletter/sub'
      enctype='application/x-www-form-urlencoded'
      autocomplete)

      input.form__email(
        required
        name='email'
        type='email'
        placeholder='📬 enter your email here 👍')

      button.form__submit.copy--uppercase.copy--faint subscribe
