
<!DOCTYPE html>
html(lang='en')
head
  meta(charset='UTF-8')
  title Long's/CVS Sunday Sale!!!
  link(href="/css/styles.css")
body
  .container
    header
      h1 long's sunday sale

    section#main
      ul.collection
        each brochure in brochures
          li
            a(target='_blank' href=`${brochure.url}`)= `${brochure.date_added} : ${brochure.url}`

    section
      form(
        method='POST'
        action='/newsletter/sub'
        enctype='application/x-www-form-urlencoded'
        autocomplete)

        input#email(
          required
          name='email'
          type='email'
          placeholder='sign up for the newsletter')

        input(type='submit' value='subscribe')

      footer
      p 2016 created by rayfarias
