extends layout/main

block content
  section.section
    a.link(href=`${brochure.url}` target='_blank')
      h2.copy.copy--capitalize.copy--bottom-border.emoji--envelope= brochure.date_added
    p.copy.copy--lowercase.copy--centered.copy--fainter most recent brochure

  section.section
    h4.copy.copy--faint get the brochure sent to your email weekly
    form.form(
      method='POST'
      action='/newsletter/sub'
      enctype='application/x-www-form-urlencoded'
      autocomplete)

      input.form__email(
        required
        name='email'
        type='email'
        placeholder='📬 enter your email here 👍')

      button.form__submit.copy--uppercase.copy--faint subscribe

  section.section
      a.link.emoji--link.copy.copy--faint.copy--bottom-border-faint(href='/previous-longs-cvs-sale-brochures') previous brochures
